<?xml version="1.0"?>
<!--
  ~ Copyright © GhostUnicorns spa. All rights reserved.
  ~ See LICENSE and/or COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="crt" translate="label" sortOrder="100">
            <label>Crt</label>
        </tab>
        <section id="crt" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Base</label>
            <tab>crt</tab>
            <resource>GhostUnicorns_CrtBase::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Crt</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="semaphore_threshold" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Semaphore Threshold (in minutes)</label>
                    <comment>After how many minutes can run again the same crt process type, this is useful in case of error</comment>
                    <depends>
                        <field id="crt/general/enabled">1</field>
                    </depends>
                    <validate>validate-greater-than-zero validate-number required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
